<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Travel app</title>
    </head>

    <body class =>
        <header class = "jumbotron text-center">
            
                <h1>Find your next adventure</h1>
            
            
        </header>
        <main class = "container">
           <section class = "card">
            <form class = " card-body row destination needs-validation" onsubmit= "return Client.handleSubmit(event)">
                    <div class="col-sm-5">
                    
                        <label for="destination" class="form-label">Holiday destination</label>
                    
                    
                        <input type="text" class="form-control was-validated" id="destination" input = required placeholder="City">
                    </div>
                    
                    <div class="col-sm-5">
                       
                        <label for="date" class="form-label">Departure date</label>
                
                    
                        <input type="date" id = date class="form-control" input= "required">
                        </div>
                    
                    <div class="col-sm-2">
                        
                        <button type="submit" class="btn btn-info" id= submit onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">Let's go</button>
                      
                    </div>
                   
                </form>
            </section> 
          

             <!--<form class="destination" onsubmit="return Client.handleSubmit(event)">
                <div class = "">
                    Holiday Destination
                </div>
                <input id="destination" type="text" name="input" input = required value="" onblur="onBlur()" placeholder="Hawaii!">
                Departure date
                <input id="date" type="date" name="date" input = required value="" onblur="onBlur()" placeholder="dd.mm.yyyy required">
                Return date
                <input id="return-date" type="date" name="date" required value="" onblur="onBlur()" placeholder="dd.mm.yyyy">
                <input id= "submit" type="submit" name="" value="Let's go!" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
            </form> 
        </div> -->

            <section>
                <div class =  "results container"> 
                    <div class = "card">
                    
                
                    <div class = "row card-body">
                        <img id= "image" scr="./my-image.png">
                    <div class = "col  description">

                    <div class = "card-title col-12">
                        <div id="city" class= "row-sm"></div>
                        <div id="information" class= row-sm></div>
                    </div>
                    <div class = "card-text row-sm-4">
                        <div class = "col-sm">
                        <div id = "icon"> </div>
                        </div>
                        <div class = "col-sm">
                        <div id="temperature" class= "row-sm temperature" ></div>
                        <div id="description" class= "row-sm description"></div>
                       </div>
                    
                    </div>
                   
                    </div>
                
                    </div>
                    <div id = "save" class=  "row-sm card-footer "></div>
                </div>
            </div>
                    
                
                
            </section>

            <section>
                <div id= "past trips"></div>
            </section>
        
        </main>

        <footer>
            <p>By Diana Betancourt all rights reserved</p>
        </footer>
         <script>
        // Check that service workers are supported
        /*if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }*/
       </script>
    </body>
</html>
