<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Travel app</title>
    </head>

    <body>
        <header class = "jumbotron text-center">
            
                <h1>Adventure planner</h1>
            
            
        </header>
        <main class = "container">
           <section class = "card">
            <form class = " card-body row destination needs-validation" onsubmit= "return Client.handleSubmit(event)">
                    <div class="col-sm-5">
                    
                        <label for="destination" class="form-label">Trip to</label>
                    
                    
                        <input type="text" class="form-control was-validated" id="destination" input = required placeholder="City">
                    </div>
                    
                    <div class="col-sm-5">
                       
                        <label for="date" class="form-label">Departure date </label>   
                        <input type="date" id = date  min= "2021-13-04" max ="2021-30-04" class="form-control" input= "required">
                        <small id="HelpBlock" class="form-text text-muted invisible">
                            The date should be max. 15 days from today.
                          </small>
                          <div class="alert alert-warning alert-dismissible fade show beforetoday displaynone" role="alert">
                            The date cannot be before today!
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                        <div class="alert alert-warning alert-dismissible fade show displaynone toofar" role="alert">
                             The date should be max. 15 days from today.
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                        </div>
                          
                     </div>
                    
                    <div class="col-sm-2">
                        
                        <button type="submit" class="btn btn-info" id= submit onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">Let's go</button>
                      
                    </div>
                   
                </form>
            </section> 
          

             <!--<form class="destination" onsubmit="return Client.handleSubmit(event)">
                <div class = "">
                    Holiday Destination
                </div>
                <input id="destination" type="text" name="input" input = required value="" onblur="onBlur()" placeholder="Hawaii!">
                Departure date
                <input id="date" type="date" name="date" input = required value="" onblur="onBlur()" placeholder="dd.mm.yyyy required">
                Return date
                <input id="return-date" type="date" name="date" required value="" onblur="onBlur()" placeholder="dd.mm.yyyy">
                <input id= "submit" type="submit" name="" value="Let's go!" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
            </form> 
        </div> -->

            <section>
                <div class =  "results container invisible"> 
                    <div class = "card">
                        <div class = "row card-body big-card">
                            <img id= "image" scr="./my-image.png">
                            <div class = "col  description">

                                <div class = "card-title col-12">
                                    <div id="city" class= "row-sm"></div>
                                    <div id="country"class="row-sm"></div>
                                    <div id="information" class= row-sm></div>
                                </div>
                                <div class = "card-text row-sm-4">
                                    <div class = "col-sm">
                                        <div id = "icon"> </div>
                                    </div>
                                    <div class = "col-sm">
                                        <div id="temperature" class= "row-sm temperature" ></div>
                                        <div id="description" class= "row-sm description"></div>
                                    </div>
                                
                                </div>
                        
                            </div>
                    
                        </div>
                        <div id = "save" onclick="return Client.addToPastTrip()" class= " btn btn-light row-sm card-footer">  </div>
                    </div>
                </div>
                           
            </section>

            <section>
              <div id= " row row-cols-1 row-cols-sm-2 row-cols-md-3 past-trips" class = "past-trips displaynone">
                  <!--
                    <div class = "card col-sm-2">
                        <div class = " card-body">
                            
                                <img id= "image2" scr="./my-image.png">
                                <div class = "card-title col-12">
                                    <div id="city2" ></div>
                                </div>
                                    <div class = "col-sm">
                                        <div id = "icon2"> </div>
                                    </div>
                                    <div class = "col-sm">
                                        <div id="temperature2" ></div>
                                        <div id="description2"></div>
                                    </div>
                        </div>
                    </div> -->
     
                </div>
            </section>
            <div class = "push"></div>
        </main>
            
            <footer class = "footer text-center text-lg-start fixed-bottom"> 
                <div class = "text-center p-3"> <p>Diana Betancourt 2021 - Images retrieved from
                        <a href="www.pixabay.com"> Pixabay</a>
                    </p>
                </div>
            </footer>
        

         <script>
        // Check that service workers are supported
        /*if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }*/
       </script>
    </body>
</html>
