.footer{
    
    //display: flex;
    //flex-direction: row;
    //flex-shrink: 0;
    //bottom: 0;
    //width: 100%;
    //height: 2.5rem; */ 
    background-color:#00667660;
    color: #006676;
    //margin-top: 50px;
    //text-align: center !important;
    //width: 100% !important;
    //height: 40px;
    //position: sticky; 
    a{ color: white;}
}

.footer,.push{
    height: 60px;
}
