
.jumbotron{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../media/background.jpg);
    background-size: cover;
    color: white;
    border-radius: 0px;
    font-size: 750;
}

