@import "~bootstrap/scss/bootstrap";
@import "footer";
@import "header";
@import "form";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f5f8;
    margin: 0 auto -50px;
    
}


#image{
    
    padding:2vh;
   

}

.description{
    font-size: 20px;
    color:#66819b;
}
.card-text{
    display:flex;
    flex-direction: row;
}
.card-title{
    border-bottom: 1px solid rgba(211, 209, 209, 0.705);
    margin-bottom: 2vh;

}
.temperature{
 
    font-size: 20px;
    color:#102942;
    }
     

#icon{
    margin-left:4vh;
    padding-right: 0vh;
}
.form-control{
    background-color: #f6f6f6;
}

#city{
    color:#102942;
}
.form-label{

    color:#102942;
}

#save{
    font-weight: 700;
    font-size: 15px;
}
.invisible{
    visibility: hidden;
}

.visible{
    visibility: visible;
}

.displaynone{
    display:none;
}
.past-trips{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 
}

.emptycity{
    margin-top:2vh;
}

#countryInfo{
    margin-top:4vh;
}

